/*
 *
 * ADOBE CONFIDENTIAL
 * __________________
 *
 *  Copyright 2014 Adobe Systems Incorporated
 *  All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

.scf-topic .scf-topic-col1 {
    margin-right: 0px;
    margin-left: 110px;
}

.scf-topic .scf-topic-userinfo {
    padding-right: 10px;
    width: 160px;
}

.scf-topic .scf-comment-data {
    margin-left: 110px;
}

.scf-topic .scf-breadcrumb {
    border-bottom: 1px solid #E6E6E6;
}
